// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Afacad Flux', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$accordion-button-bg: #038706;
$accordion-button-active-bg: #065408;
$accordion-bg: #038706;
$accordion-button-active-color: #ffffff;
$accordion-button-color: #ffffff;
$accordion-icon-active-color:  #ffffff;
$accordion-icon-color: #ffffff;